span.nowrap {
  white-space: nowrap;
}

div.cohort-selector span.currently-active {
  padding: 0 10px;
  margin-right: 1em;
  font-size: 1.25em;
  color: darkmagenta;
  vertical-align: text-bottom;
  border: 1px dotted darkmagenta;
  border-radius: 3px;
}

div.cohort-selector a.button {
  vertical-align: inherit;
}

table.toplevel_page_gsd_menu thead tr th a {
  width: max-content;
}
