
div.error,
div.warning,
div.success {
  background: #fff;
  border: 1px solid #ccd0d4;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  padding: 1px 12px;
  margin-bottom: 1em;
}

/*
There seems to be a bug or a weird thing in TwentyFifteen, that sets the
left margin for lists to 0, which really does not look good (is this really
supposed to be?). So here we set it back to the standard 1.3333 em.
*/
@media screen and (min-width: 38.75em) {
  ul, ol {
    margin-left: 1.3333em !important;
  }
}

div.error {
  border-left-color: #dc3232;
}
div.warning {
  border-left-color: #ffb000;
}
div.success {
  border-left-color: #078600;
}

span.dashicons {
  padding-top: 0.3333em;
}

div.field-error {
  border: 1px dotted red;
  padding: 0.5em;
  border-radius: 4px;
}

span.mandatory-field {
  color: red;
  font-weight: bold;
}
p.mandatory-field-note {
  font-size: 0.8em;
  font-style: italic;
}

div.gsd-form h1 {
  margin: 0.5em 0;
}

div.gsd-form-field {
  margin-bottom: 1em;
}

div.gsd-form-field table {
  table-layout: auto;
}

div.gsd-form-field div.explanation {
  color: gray;
  font-size: 0.8em;
  padding-bottom: 0.5em;
  line-height: 1;
}

div.gsd-form-field div.form-section h3 {
  margin: 0px;
}

div.data-section div.editable div.form-section h3 {
  margin: 0.8em 0;
}

div.data-section div.editable div.form-section p {
  margin-bottom: 0.5em;
}

div.data-section div.editable div.form-section table {
  margin-bottom: 0.5em;
}


 /* ----------------------------------------------------------------------------
   x.0 - Participants Data Display Section
 ---------------------------------------------------------------------------- */
div.data-section {
  margin-bottom: 2em;
}

div.data-section div.field {
  margin-bottom: 1em;
}
div.data-section div.fixed div.field {
  margin-bottom: 0em;
}
div.data-section h3.section-title,
div.data-section h4.section-title {
  margin: 0.5em 0;
}
div.data-section p {
  margin-bottom: 0.5em;
}

div.data-section h3.section-title + div.editable {
  margin-top: 1em;
}

div.data-section div.fixed {
  padding: 1em;
}

div.data-section div.editable {
  border: 1px dotted gray;
  border-radius: 5px;
  padding: 1em;
}

div.data-section div.editable a.button {
  float: right;
  text-decoration: none;
  color: #782;
  border: 1px solid #9a4;
  border-radius: 3px;
  padding: 0 10px;
}
div.data-section div.editable a.button:hover {
  background-color: #eee;
  color: #893;
  border: 1px solid #ab5;
  border-radius: 3px;
  padding: 0 10px;
}

div.data-section.print-button {
  text-align: center;
}
div.data-section.print-button a {
  border: 1px solid black;
  padding: 1em;
}
div.data-section.print-button a:hover {
  background: #dff8df;
}

div.data-section div.label {
  color: gray;
}
div.data-section div.value {
  margin-left: 2em;
}

div.data-section span.missing {
  font-size: 0.8em;
  color: darkorange;
  font-style: italic;
}

div.data-section div.dropdown-alternatives {
  border: 1px dotted gray;
  border-radius: 5px;
  padding: 1em;
}

div.data-section img.profile {
  max-width: 150px;
}

div.data-section span.dashicons-dismiss {
  color: darkred;
}
div.data-section span.dashicons-yes-alt {
  color: darkgreen;
}


/* ----------------------------------------------------------------------------
  x.0 - Participants Editor Section
---------------------------------------------------------------------------- */
div.gsd-form div.gsd-form-field div.dropdown-alternatives {
  padding-bottom: 1.5em;
}
