body > div.header,
body > div.content,
body > div.footer {
  max-width: 1200px;
  margin: auto;
}

body > div.header,
body > div.footer {
  text-align: center;
}

body > div.header {
  border-bottom: 1px dotted gray;
  display: flex;
  align-items: center;
}
body > div.header > div.logo > img {
  width: 500px;
}
body > div.header > div:first-child {
  flex-grow: 1;
}
@media print {
  body > div.header {
    align-items: flex-start;
  }
  body > div.header > div:first-child {
    font-size: 0.9em;
  }
  body > div.header > div.logo > img {
    width: 250px;
    margin-top: 1.5em;
  }
}

body > div.footer {
  border-top: 1px dotted gray;
  margin-top: 1em;
}

.row {
  width: 100%;
  display: flex;
  border: 1px dotted lightgray;
}

.row .col {
  padding: 0.25em;
}

.row .col:first-child {
  width: 25%;
  text-align: right;
  padding-right: 1em;
  border-right: 1px dotted lightgray;
}

.row .col:last-child {
  flex-grow: 1;
  padding-left: 1em;
}

div.signature {
  display: flex;
  justify-content: space-around;
}

div.signature div{
  text-align: center !important;
  padding: 4em 0 1.5em 0;
}

div.signature div span.label-place {
  padding-right: 8em;
}
